; ษออออออออออป
; บ HELL.VTO บ
; ศออออออออออผ
;
; Put this file in the same directory as HELL demo from TRAN, and type:
;
;    VT @HELL.VTO


   /off:526899 hell.exe /sl:6
;/ /off:832593 hell.exe         ; This song doesn't really work with VT... yet.
 / /off:243807 hell.exe
