; ษอออออออออออป
; บ PANIC.VTO บ
; ศอออออออออออผ
;
; Put this file in the same directory as PANIC demo from
; Future Crew, and type:
;
;    VT @PANIC.VTO


PANIC.EXE     ; Try adding the /lq switch if you have less than 256 Kb
              ; in your GUS or if you are playing in a Sound Blaster card
