#
# ÉÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍ»
# º     ShellVT v1.39 (beta)     º
# º                              º
# º  Configuraci¢n por defecto.  º
# ÈÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍ¼
#
# For comments, use one of the following characters:
#
# # -> I don't know how to call this in English.
# : -> Colon.
# ; -> Semicolon.
#
# For strings and filenames, use single quotes ('). If you need to put a
# single quote inside a string, just put it twice.
#
# For boolean values, you can use:
#
#   For 'true'  : Si, s¡, oui, yes, yeah, da, por supuesto, true, 1.
#   For 'false' : No, nones, ni hablar, paso, non, pas, nope, nyet, false, 0.
#
# Hexadecimal numbers must always have a dollar ($) sign first, with no spaces
# between the dollar and the number.
# Indirections can be specified in square brackets "[]". The address is
# linear absolute (5 digits if it's hexadecimal).
#



: ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
: ³ Miscellaneous. ³
: ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[VT-Misc]

;ShellPath   = 'c:\command.com'    ; Full path name of the shell program.
                                   ; By default, COMSPEC is used.
;ShellParams = ''                  ; Parameter line passed to the shell program.



: ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
: ³ Song interpreter. ³
: ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[VT-PlayMod]

ShellLoopMod = Yeah           ; Yes: Forces the song to repeat forever
                              ; when in the DOS Shell.

