; ษออออออออออออป
; บ UNREAL.VTO บ
; ศออออออออออออผ
;
; Put this file in the same directory as the UNREAL demo from
; Future Crew, and type:
;
;    VT @UNREAL.VTO

UNREAL.EXE/TMP.S3M      /v:155 /ss:01 /sr:00 /sl:04 /
UNREAL.EXE/TIGER.S3M    /v:128 /ss:01 /sr:01 /sl:00 /
UNREAL.EXE/TMP.S3M      /v:245 /ss:63 /sr:63 /sl:80 /
UNREAL.EXE/LAVE2.S3M    /v:128 /ss:01 /sr:01 /sl:00 /
UNREAL.EXE/TMP.S3M      /v:235 /ss:46 /sr:00 /sl:61 /
UNREAL.EXE/SYMPHONY.S3M /v:175 /ss:01 /sr:00 /sl:00 /
UNREAL.EXE/TMP.S3M      /v:255 /ss:81 /sr:00 /sl:96 /
UNREAL.EXE/TMP.S3M      /v:210 /ss:31 /sr:31 /sl:41 /
UNREAL.EXE/CHAOS.S3M    /v:165 /ss:01 /sr:01 /sl:00 /
UNREAL.EXE/TMP.S3M      /v:175 /ss:22 /sr:00 /sl:24 /
