#
# ÉÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍ»
# º VangeliSTracker v1.39 (beta) º
# º                              º
# º    Default configuration.    º
# ÈÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍÍ¼
#
# For comments, use one of the following characters:
#
# # -> I don't know how to call this in English.
# : -> Colon.
# ; -> Semicolon.
#
# For strings and filenames, use single quotes ('). If you need to put a
# single quote inside a string, just put it twice.
#
# For boolean values, you can use:
#
#   For 'true'  : Si, s¡, oui, yes, yeah, da, por supuesto, true, 1.
#   For 'false' : No, nones, ni hablar, paso, non, pas, nope, nyet, false, 0.
#
# Hexadecimal numbers must always have a dollar ($) sign first, with no spaces
# between the dollar and the number.
# Indirections can be specified in square brackets "[]". The address is
# linear absolute (5 digits if it's hexadecimal).
#



: ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
: ³ Miscellaneous. ³
: ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[VT-Misc]

;ShellPath     = 'c:\command.com'  ; Full path name of the shell program.
                                   ; By default, COMSPEC is used.
;ShellParams   = ''                ; Parameter line passed to the shell program.
Language       = 'VT_Eng.Lng'      ; Language file to be used.
ModPath        = 'G:\MOD\MUYBUENO' ; Path from which MODs are read by default.
TmpPath        = 'D:\TMP'          ; Path for temporary files.



: ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
: ³ Song interpreter. ³
: ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[VT-PlayMod]

LoopMod      = Nope           ; Yes: Allows the song to repeat forever.
ForceLoopMod = Nones          ; Yes: Forces the song to repeat forever.
ShellLoopMod = Yeah           ; Yes: Forces the song to repeat forever
                              ; when in the DOS Shell.
PermitFade   = Yes, of course ; Allows for the soft volume fade out.
FadeSpeed    = 256            ; Speed of the fade out.
TicksPerSec  = 50             ; Song ticks per second. 50 for european MODs and
                              ; 60 for american MODs (Amiga's lame difference).
LowQuality   = No             ; Yes: saves memory by making sound worse. Also,
                              ; saves GUS memory.
Volume       = 127            ; Sound volume (0-255).



: ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
: ³ Gravis Ultrasound ³
: ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[VT-GUS]

;Port        = $240    ; Defaults to autodetect. Uncomment
                       ; to force your address.
IRQ          = 11     

